<div class="Banner">
  {% if include.url == '/' %}
    <div class="col-md-5 col-md-pull-1 Banner-panel Banner-panel--events">
      <h2>Upcoming Events</h2>
      <h1 class="Banner-panel-title">
        Title
      </h1>
      <a href="#" class="btn btn-primary">
        Read More
      </a>
    </div>
  {% else %}
    <div class="Banner-panel Banner-panel--page col-md-5 col-md-offset-1">
      <h1 class="Banner-panel-title">
        We're improving medical device security through research and education.
      </h1>
    </div>
  {% endif %}
  <img src="http://placehold.it/1170x510" class="img-fluid">
</div>
