<article class="Excerpt">
  {% if include.hide-image != true %}
    <img src="http://placehold.it/770x400" class="img-fluid Excerpt-image">
  {% endif %}

  <h2><a href="#">Blog post title</a></h2>
  <small class="text-muted">Posted by <a href="#">Author Name</a></small>
  <p>
  <strong>October 21, 2016 – </strong>Adipisicing consequatur id ipsum labore officia Corrupti iure iusto soluta
    doloribus similique. Molestiae ipsum reprehenderit quasi nostrum adipisci
    mollitia? Deleniti repudiandae laboriosam deleniti porro quibusdam. Amet et
    iste corrupti omnis.
  </p>
  <footer>
    <div class="pull-xs-right">
      {% include button.html label="Read More" %}
    </div>
    <small class="text-muted">Posted in <a href="#">General</a></small>
  </footer>
</article>
