<footer class="Footer">
  <div class="container-fluid Footer-container">
    <div class="row">
      <div class="col-sm-2">
        <h2 class="Footer-title Footer-title--upcase">Learn More</h2>
        <ul class="list-unstyled">
          <li><a href="#">Meet our staff</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="#">Membership</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h2 class="Footer-title Footer-title--upcase">Get Involved</h2>
        <ul class="list-unstyled">
          <li><a href="#">Publications</a></li>
          <li><a href="#">Reports</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h2 class="Footer-title Footer-title--upcase">Connect</h2>
        <ul class="list-unstyled">
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Newsletter</a></li>
          <li><a href="https://twitter.com/{{site.twitter_username}}">Twitter</a></li>
          <li><a href="{{site.linkedin_username}}">LinkedIn</a></li>
          <li><a href="{{site.youtube_channel}}">YouTube</a></li>
        </ul>
      </div>
      <div class="col-sm-3 col-sm-offset-3">
        <h2 class="Footer-title">Play it safe. Stay informed.</h2>
        <p>Sign up for monthly news, research, and interviews.</p>
        <form class="Footer-form">
          <div class="form-group">
            <input class="form-control" placeholder="Email Address">
          </div>
          <button type="submit" class="btn btn-primary">
            Submit
            <img src="/images/arrow-white.png" style="margin: 0 0 4px 4px">
          </button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1">
        <img src="/images/umich-2color-transparentbg.png" width="56">
      </div>
      <div class="col-sm-11 Footer-footnote">
        Archimedes is based at the University of Michigan Computer Science &
        Engineering (c) {{ 'now' | date: "%Y" }}
      </div>
    </div>
  </div>
</footer>
