<footer class="Footer">
  <div class="container-fluid Footer-container">
    <div class="row">
      <div class="col-sm-2">
        <h2 class="Footer-title Footer-title--upcase">Learn More</h2>
        <ul class="list-unstyled">
          <li><a href="/about">About</a></li>
          <li><a href="/resources">Publications</a></li>
          <li><a href="#">Reports</a></li>
          <li><a href="https://spqr.eecs.umich.edu/">SPQR Lab</a></li>
          <li><a href="/faq">FAQ</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h2 class="Footer-title Footer-title--upcase">Get Involved</h2>
        <ul class="list-unstyled">
          <li><a href="/workshop">Workshop</a></li>
          <li><a href="https://www.medicalsecurity101.org/">MedSec 101</a></li>
          <li><a href="/membership">Membership</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h2 class="Footer-title Footer-title--upcase">Connect</h2>
        <ul class="list-unstyled">
          <li><a href="/connect">Contact Us</a></li>
          <li><a href="/newsletter">Newsletter</a></li>
          <li><a href="https://twitter.com/{{site.twitter_username}}">Twitter</a></li>
          <li><a href="{{site.youtube_channel}}">YouTube</a></li>
          <li><a href="{{site.linkedin}}">LinkedIn</a></li>
        </ul>
      </div>
      <div class="col-sm-3 offset-sm-3">
        {% include newsletter.html %}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1">
        <img src="/images/umich-2color-transparentbg.png" width="56">
      </div>
      <div class="col-sm-11 Footer-footnote">
        Archimedes is based at the University of Michigan Computer Science &
        Engineering (c) {{ 'now' | date: "%Y" }}
      </div>
    </div>
  </div>
</footer>
