<footer class="Footer">

  <div class="row">
    <div class="col-sm-2 col-sm-offset-1">
      <h2 class="Footer-title">About</h2>
      <ul class="list-unstyled">
        <li><a href="#">Meet our staff</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Membership</a></li>
      </ul>
    </div>
    <div class="col-sm-2">
      <h2 class="Footer-title">Resources</h2>
      <ul class="list-unstyled">
        <li><a href="#">Publications</a></li>
        <li><a href="#">Reports</a></li>
      </ul>
    </div>
    <div class="col-sm-4">
      <h2 class="Footer-title">Recent Publications</h2>
    </div>
    <div class="col-sm-2">
      social
    </div>
  </div>

</footer>
