<div class="row">
  <div class="col-sm-6 Content">
    <h4 class="Page-title">While You’re Working Away, The Kids Can Play</h4>
    <p>The Medical Device Security 101 Conference will be held at <em>Disney’s Yacht &amp; Beach Club Resorts</em> where you and your family can relax, swim, and enjoy easy access to Walt Disney World’s many parks and attractions. Designed in the tradition of a New England-style yacht club, <em>Disney’s Yacht &amp; Beach Club Resorts</em> sit on Stormalong Bay—a 3-acre waterpark featuring pools, lagoons, waterslides, a lazy river, and a life-size shipwreck for young pirates to explore. The hotel is walking distance to Epcot and a mere boat-ride from Disney’s Hollywood Studios, placing you right in the heart of Disney’s premier attractions.</p>
  </div>
  <div class="col-sm-6 Content">
    <h4 class="Page-title">Schedule Your Reservations</h4>
    <p>
    Discounted room rates at <em>Disney’s Yacht &amp; Beach Club Resorts</em> are available for Medical Device Security 101 Conference attendees until <strong>Friday, December 16</strong>, or until the room block sells out.
    </p>

    <p>
    The room rate for attendees is <strong>$239 per night</strong>, which includes complimentary shuttle service to and from the Orlando International Airport as well as complimentary transportation to and from the <em>Walt Disney World Resort Theme Parks</em>.
    </p>

    <p>
    Book your room reservations by calling the Disney Group Reservations Phone Team at (407) 939-4686 or by <a href="https://aws.passkey.com/event/16140533/owner/70576/home">booking online</a>.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-sm-4 Content">
    <h4 class="Page-title">Resort Location</h4>
    <p>
    <em>Disney’s Yacht &amp; Beach Club Resorts</em><br />
    1750 Epcot Resorts Blvd <br />
    Lake Buena Vista, FL 32830
    </p>
  </div>
  <div class="col-sm-8 Content">
    <h4 class="Page-title">Map</h4>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14042.40747734434!2d-81.55839!3d28.370884!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x69d8b01d16439b6d!2sDisney&#39;s+Yacht+Club+Resort!5e0!3m2!1sen!2sca!4v1474003500382" width="600" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 Content">
    <h4 class="Page-title">Make It A Vacation</h4>
    <p>
    Extend your trip and treat your family to a Disney vacation! The discounted room rate is available to attendees <strong>January 12-14</strong> and <strong>January 17</strong>, subject to availability. <a href="https://aws.passkey.com/event/16140533/owner/70576/home">Book your rooms early</a> to make sure you get the discounted rate.
    </p>
    <p>
    After registering, we encourage you to go to <a href="https://disneyworld.disney.go.com/">Disneyworld.com</a> and click on the My Disney Experience tab or download the My Disney Experience app to access plans and park information on the go. You can also use the <a href="https://disneyworld.disney.go.com/plan/">My Disney Experience</a> site to participate in <a href="https://disneyworld.disney.go.com/plan/">Disney’s Online Check-In Service</a> where you can shorten your check-in process by logging in within 60 days of your arrival date. When you arrive at the hotel, simply show a photo ID at the designated online check-in area.
    </p>
  </div>
  <div class="col-sm-6 Content">
    <h4 class="Page-title">Disney’s Magical Express Service</h4>
    <p>
    Guests traveling through the Orlando International Airport will be provided with Disney’s Magical Express service, which consists of complimentary airport shuttle service, luggage delivery, and remote airline check-in on participating airlines.
    </p>

    <p>
    Book your <a href="https://disneyworld.disney.go.com/plan/">Magical Express reservation</a> online or by calling (407) 827-6777 with your flight information about 48 hours AFTER your hotel reservation has been entered into Disney’s system.
    </p>
  </div>
</div>
