<div class="row Home-content">
  <div class="col-md-3 col-md-offset-1">
    <div class="Callout">
      <div class="Callout-title">
        Did you know?
      </div>
      <div class="Callout-body">
        <img src="http://placehold.it/310x170" class="img-fluid Callout-img">
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="Callout">
      <div class="Callout-title">
        Popular Publications
      </div>
      <div class="Callout-body">
        Yadda
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="Callout">
      <div class="Callout-title">
        Newsletter Sign-Up
      </div>
      <div class="Callout-body">
        Yadda
      </div>
    </div>
  </div>
</div>
