<div class="container-fluid Home-content">
  <div class="row">
    <div class="Callout-table">
      <div class="col-md-5">
        <div class="Callout Callout--no-padding">
          <div class="Callout-title">
            Did you know?
          </div>
          <div class="Callout-body Callout-body--image">
            <img src="/images/home-callout.jpg" class="img-fluid Callout-img">
          </div>
          <div class="Callout-body">
            <h6 class="Callout-subtitle">
              Learning to Fail Gracefully Improves Security
            </h6>
            <p>
              Everything is hackable, so the key is, how do you fail gracefully?
              Dr. Kevin Fu explains why it’s important for designers to build
              security into medical devices from the get-go and how to improve
              security of the medical devices we’re using right now.
              <a href="#">Read the full article</a>.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="Callout Callout--no-padding">
          <div class="Callout-title">
            Popular Publications
            {% include button.html
              href="/resources"
              label="More"
              link=true
              class="Callout-title-link"
            %}
          </div>
          <div class="Callout-body">
            {% assign publications = site.publications | sample:3 %}
            {% for publication in publications %}
              <ul class="list-unstyled">
                <li class="Callout-publication-item">
                  <strong class="Callout-subtitle">{{publication.title}}: </strong>
                  <div class="Callout-publication-text">
                    {{publication.content | markdownify}}
                    {% include publication-links.html publication=publication %}
                  </div>
                </li>
              </ul>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="Callout Callout--no-padding">
          <div class="Callout-title">
            MedSecTalk
            <a href="https://twitter.com/{{site.twitter_username}}"
              class="ss-icon Callout-title-link">
              twitter
            </a>
          </div>
          <div>
            <a
              class="twitter-timeline"
              href="https://twitter.com/{{site.twitter_username}}"
              data-tweet-limit="2"
              data-chrome="transparent noheader nofooter noscrollbar">
              Tweets by {{site.twitter_username}}
            </a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
