<div class="Publication">
  <h2 class="Publication-title">
    This is a publication title
  </h2>
  <p>
    Adipisicing impedit minima rem ipsum doloremque necessitatibus
    recusandae Voluptatibus ducimus fugiat laboriosam qui beatae.
  </p>
  <ul class="list-inline Publication-resources-list">
    <li class="list-inline-item">
      <a href="#">PDF</a>
    </li>
    <li class="list-inline-item">
      <a href="#">SLIDES</a>
    </li>
    <li class="list-inline-item">
      <a href="#">WEBPAGE</a>
    </li>
    <li class="list-inline-item">
      <a href="#">VIDEO</a>
    </li>
  </ul>
</div>
