<ul class="list-inline Publication-resources-list">
  {% if include.publication.links.pdf %}
    <li class="list-inline-item">
      <a href="{{include.publication.links.pdf}}">Download the PDF</a>
    </li>
  {% endif %}
  {% if include.publication.links.slides %}
    <li class="list-inline-item">
      <a href="{{include.publication.links.slides}}">Slides</a>
    </li>
  {% endif %}
  {% if include.publication.links.website %}
    <li class="list-inline-item">
      <a href="{{include.publication.links.website}}">Visit the Website</a>
    </li>
  {% endif %}
  {% if include.publication.links.video %}
    <li class="list-inline-item">
      <a href="{{include.publication.links.video}}">Video</a>
    </li>
  {% endif %}
  {% if include.publication.links.abstract %}
    <li class="list-inline-item">
      <a href="{{include.publication.links.abstract}}">Abstract</a>
    </li>
  {% endif %}
  {% if include.publication.links.workshop %}
    <li class="list-inline-item">
      <a href="{{include.publication.links.workshop}}">Workshop</a>
    </li>
  {% endif %}
</ul>
