<div class="Publication">
  <h2 class="Publication-title">
    {{include.publication.title}}
  </h2>
  {{include.publication.content | markdownify}}
  <ul class="list-inline Publication-resources-list">
    {% if links.pdf %}
      <li class="list-inline-item">
        <a href="{{links.pdf}}">PDF</a>
      </li>
    {% endif %}
    {% if links.slides %}
      <li class="list-inline-item">
        <a href="#">SLIDES</a>
      </li>
    {% endif %}
    {% if links.webpage %}
      <li class="list-inline-item">
        <a href="#">WEBPAGE</a>
      </li>
    {% endif %}
    {% if links.video %}
      <li class="list-inline-item">
        <a href="#">VIDEO</a>
      </li>
    {% endif %}
  </ul>
</div>
