<article class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-6 Content">
          <h4 class="Page-title">About Our Events</h4>
          <p>
            Archimedes workshops and conferences bring together experts from industry, academia, and government who are passionate about our mission to improve medical device security. Our events focus on educating key stakeholders in the medical device and healthcare industries on current cybersecurity threats as well as solutions for preventing and resolving them.
          </p>
          <p>
            Our events do not focus on the latest industry buzz or trendy new product development. We want our attendees to feel that they can speak freely about their cybersecurity issues with trusted and respected professionals who can help them establish best practices for improving medical device security in their products and organizations. At Archimedes, we provide a forum for industry leaders to gain a strong situational and operational awareness of emerging issues pertaining to cybersecurity and then we arm them with the knowledge to better protect both their clients and patients.
          </p>
        </div>
        <div class="col-sm-6 Content">
          <h4 class="Page-title">How to Submit a Proposal</h4>
          <p>
            We are extremely selective in whom we invite to speak at Archimedes workshops and conferences. Our members recognize and appreciate that we maintain high educational standards. Please note that we do not accept sales pitches or marketing presentations for plenary talks.
          </p>

          <p>
            To submit a proposal, email <a href="mailto:archimedes@umich.edu">archimedes@umich.edu</a> and include the following information:
          </p>
          <ul>
            <li> Conference or workshop name and date </li>
            <li> Contact: name and email (include administrator if applicable) </li>
            <li> Session length: 60 or 90 mins </li>
            <li> Session title: 15 words or less </li>
            <li> Abstract: 150 - 200 words </li>
            <li> Bio: 75 - 100 words, include your current title </li>
            <li> Headshot: 3” x 5” JPEG at 300 dpi resolution </li>
          </ul>

          <p>
            Please allow 3- to 5 business days for review.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 Content">
          <h4 class="Page-title">Speaker Benefits </h4>
          <p>
            The greatest benefit of speaking at an Archimedes event is the opportunity to share and network with other industry thought leaders and decision makers. Additional benefits include:
          </p>
          <ul>
            <li>
              <strong>Free Registration:</strong> Speakers are invited to attend the conference for free, although you will be responsible for your own travel and accommodations.
            </li>
            <li>
              <strong>Discount to Share:</strong> Each speaker gets a promotional code for 10% off the event registration that you can share with your internal teams and customers in your newsletters and social media channels.
            </li>
            <li>
              <strong>Promotion:</strong> Invited speakers will be featured on our website and in a press release announcing the event. You will also be invited to write a guest blog post or interview that will be highlighted on our site and promoted in our newsletter and across social media.
            </li>
            <li>
              <strong>Private Reception:</strong> Speakers will be invited to attend a private reception during the event where you can network with other speakers and event organizers.
            </li>
          </ul>
        </div>
        <div class="col-sm-6 Content">
          <h4 class="Page-title">Requirements &amp; Guidelines</h4>
          <p>
            All speaker presentations are scheduled to last either 60 or 90 mins. As a selected speaker we request that you:
          </p>
          <ul>
            <li> Plan an engaging and informative presentation on the agreed upon topic. </li>
            <li> Allocate time for a planning call 30 days prior to your speaking session. </li>
            <li> Provide your presentation in an electronic format for attendee distribution one week prior to the event. </li>
            <li> Allow 10 - 15 mins for Q&amp;A at the end of your presentation. </li>
            <li> Use 24 pt font or larger for all text on your slides. </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 Content">
          <h4 class="Page-title">Resources</h4>
          <p>
            Our goal is to help our speakers succeed and create a valuable and compelling learning experience for attendees. We’ve compiled a list of practical and inspirational articles, videos, and tools to help you create memorable presentations that will engage your audiences.
          </p>
          <ul>
            <li>
              <a href="http://www.garrreynolds.com/Presentation/pdf/presentation_tips.pdf">Presentation Zen How to Design &amp; Deliver Presentations Like a Pro</a> by Garr Reynolds
            </li>
            <li>
              <a href="https://www.youtube.com/watch?v=eIho2S0ZahI">How to speak so that people want to listen</a> by Julian Treasure, TEDtalk
            </li>
            <li>
              <a href="https://hbr.org/2013/06/how-to-give-a-killer-presentation">How to Give a Killer Presentation</a> by Chris Anderson, Harvard Business Review
            </li>
            <li>
              <a href="https://www.ted.com/talks/nancy_duarte_the_secret_structure_of_great_talks">The Secret Structure of Great Talks</a> by Nancy Duarte, TEDtalk
            </li>
            <li>
              Archimedes branded PowerPoint template for your slide deck
            </li>
          </ul>

          <p>
            Please <a href="mailto:archimedes@umich.edu">contact us</a> with any additional presentation needs you may have. We are here to help!
          </p>
        </div>
        <div class="col-sm-6 Content">
          <h4 class="Page-title">Deadlines</h4>
          <p>
            We recommend that you submit your proposal prior to the deadline listed on our website. Proposals will be accepted after the deadline and will be considered should openings become available. If you are not selected for an event, please don’t be discouraged. We are continuously expanding our offerings and your presentation may be a good fit for a future event.
          </p>
        </div>
      </div>

    </div>
  </div>

  <div class="row">

  </div>
</article>
