
<section class="row">
    <div class="col-sm-12">
      <p><a href="/uploads/Yacht%20&amp;%20Beach%20Club%20Convention%20Center%20Map.pdf">Yacht &amp; Beach Club Convention Center Map</a> (PDF)</p>

    </div>
  </section>

    <div class="row">
      <header class="col-sm-12 Day">
        <div class="row">
          <div class="col-xs-4">
            <h3 class="Day-date">
              15 Jan 2017
            </h3>
          </div>
          <div class="col-xs-8">
            <h3 class="Day-title">Sunday</h3>
          </div>
          <div class="col-sm-12">
            <hr>
          </div>
        </div>
      </header>
    </div>




      <div class="row">
        <div class="col-sm-12 Schedule-block
          ">
            <div class="row">

              <div class="col-sm-2">
                4:00 - 6:00 pm
              </div>



<div class="col-sm-2">





</div>
<div class="col-sm-8">

    <h5 class="Schedule-presentation-title">
      On-site Registration
    </h5>



        <p>Disney’s Yacht &amp; Beach Club Convention Center—Asbury Lobby</p>




</div>



            </div>
          <hr>
        </div>
      </div>



        <div class="row">
          <div class="col-sm-12">
            <hr class="Schedule-divider">
          </div>
        </div>



    <div class="row">
      <header class="col-sm-12 Day">
        <div class="row">
          <div class="col-xs-4">
            <h3 class="Day-date">
              16 Jan 2017
            </h3>
          </div>
          <div class="col-xs-8">
            <h3 class="Day-title">Monday - Single Track Sessions</h3>
          </div>
          <div class="col-sm-12">
            <hr>
          </div>
        </div>
      </header>
    </div>




      <div class="row">
        <div class="col-sm-12 Schedule-block
          ">
            <div class="row">

              <div class="col-sm-2">
                8:00 am - 9:00 am
              </div>



<div class="col-sm-2">





</div>
<div class="col-sm-8">

    <h5 class="Schedule-presentation-title">
      On-site Registration
    </h5>



        <p>Disney’s Yacht &amp; Beach Club Convention Center—Asbury Lobby</p>




</div>



            </div>
          <hr>
        </div>
      </div>



      <div class="row">
        <div class="col-sm-12 Schedule-block

             Schedule-block--break
          ">
            <div class="row">

              <div class="col-sm-2">
                9:00 - 9:30 am
              </div>



<div class="col-sm-2">

    <img src="" class="img-fluid" title="">





</div>
<div class="col-sm-8">

    <h5 class="Schedule-presentation-title Schedule-presentation-title--break">
      Breakfast — Salon 5 &amp; 6
    </h5>


</div>



            </div>
          <hr>
        </div>
      </div>



      <div class="row">
        <div class="col-sm-12 Schedule-block
          ">
            <div class="row">

              <div class="col-sm-2">
                9:15 - 9:30 am
              </div>



<div class="col-sm-2">

    <img src="https://medicalsecurity101.org/uploads/Fu_Kevin_Headshot.jpg" class="img-fluid" title="Kevin Fu, Ph.D">





</div>
<div class="col-sm-8">

    <h5 class="Schedule-presentation-title">
      Welcome
    </h5>

      <h6>
        Kevin Fu, Ph.D
      </h6>








</div>



            </div>
          <hr>
        </div>
      </div>



      <div class="row">
        <div class="col-sm-12 Schedule-block
          ">
            <div class="row">

              <div class="col-sm-2">
                9:30 - 10:30 am
              </div>



<div class="col-sm-2">

    <img src="https://medicalsecurity101.org/uploads/Schwartz_Suzanne.jpg" class="img-fluid" title="Suzanne B. Schwartz, MD, MBA">





</div>
<div class="col-sm-8">

    <h5 class="Schedule-presentation-title">
      Keynote
    </h5>

      <h6>
        Suzanne B. Schwartz, MD, MBA
      </h6>



        <p><strong>Medical Device Cybersecurity Through the FDA Lens</strong></p>

<p>Enhanced connectivity of medical technologies holds extraordinary promise for advancing patient care. Yet, with these benefits comes new kinds of threats—increasing cybersecurity risks. FDA encourages medical device manufacturers to carefully consider possible cybersecurity risks while designing medical devices and to have a plan to manage system or software updates. By focusing on cybersecurity during design, manufacturers can reduce vulnerabilities in their medical devices. But premarket considerations are only one aspect of medical device cybersecurity. While manufacturers can incorporate controls in the design of a product to help prevent these risks, it is essential that manufacturers also consider improvements during maintenance of devices, as the evolving nature of cyber threats and emergence of newly identified vulnerabilities means risks may arise throughout a device’s entire lifecycle.</p>

<p>A big part of effective cybersecurity is creating a proactive approach and fostering multi-stakeholder collaboration, which will help stay ahead of cybersecurity threats and protect patients.</p>

<p>This keynote session will provide an overview of the evolving medical device cybersecurity landscape with particular emphasis on what medical device ecosystem partners are presently doing to address current gaps as well as future challenges; a description of multi-stakeholder efforts; and regulatory policy under FDA’s premarket and postmarket authorities.</p>




</div>



            </div>
          <hr>
        </div>
      </div>



      <div class="row">
        <div class="col-sm-12 Schedule-block

             Schedule-block--break
          ">
            <div class="row">

              <div class="col-sm-2">
                10:30 - 11:00 am
              </div>



<div class="col-sm-2">

    <img src="" class="img-fluid" title="">





</div>
<div class="col-sm-8">

    <h5 class="Schedule-presentation-title Schedule-presentation-title--break">
      Coffee Break
    </h5>


</div>



            </div>
          <hr>
        </div>
      </div>



      <div class="row">
        <div class="col-sm-12 Schedule-block
          ">
            <div class="row">

              <div class="col-sm-2">
                11:00 am - 12:00 pm
              </div>



<div class="col-sm-2">

    <img src="https://medicalsecurity101.org/uploads/Pascoe_Geoff.jpg" class="img-fluid" title="Geoffrey Pascoe">





</div>
<div class="col-sm-8">

    <h5 class="Schedule-presentation-title">
      AAMI TIR57: Principles for Medical Device Security—Risk Management
    </h5>

      <h6>
        Geoffrey Pascoe
      </h6>



        <p>Participants will learn how to perform security risk management for medical devices using the principles outlined in AAMI’s recently published technical report, AAMI TIR57: Principles for medical device security—Risk management. We will discuss the differences and similarities between security risk management and safety risk management, as well as how to integrate the two following practices outlined in ANSI/AAMI/ISO 14971:2007(R)2010 Medical devices—Application of risk management to medical devices. We will also cover basic concepts in security as they apply to medical device security, such as threats and threat actors, vulnerabilities, assets, security risk, mitigation and risk treatment, single loss expectancy, annualized loss expectancy, confidentiality, integrity, and availability. Participants will work through a simplified example, applying the principles of TIR57. A short Q&amp;A session will follow.</p>

<p><strong>All conference attendees will recieve a FREE copy of AAMI TIR57: Principles for Medical Device Security—Risk Management, which provides guidance for addressing information security within the risk management framework defined by ANSI/AAMI/ISO 14971.</strong></p>




</div>



            </div>
          <hr>
        </div>
      </div>



      <div class="row">
        <div class="col-sm-12 Schedule-block
          ">
            <div class="row">

              <div class="col-sm-2">
                12:00 - 1:30 pm
              </div>



<div class="col-sm-2">



    <div class="row">


        <div class="col-sm-6" style="margin-bottom: 10px;">
          <img src="https://medicalsecurity101.org/uploads/Auto-de-Medeiros_Julio.jpg" class="img-fluid" title="Julio Auto">
        </div>


        <div class="col-sm-6" style="margin-bottom: 10px;">
          <img src="https://medicalsecurity101.org/uploads/Bomett_Andrew.jpg" class="img-fluid" title="Andrew (Drew) Bomett, M.S.S.T, CISSP">
        </div>


        <div class="col-sm-6" style="margin-bottom: 10px;">
          <img src="https://medicalsecurity101.org/uploads/Bruemmer_Debra.jpg" class="img-fluid" title="Debra Bruemmer, CISSP">
        </div>


        <div class="col-sm-6" style="margin-bottom: 10px;">
          <img src="https://medicalsecurity101.org/uploads/Domas_Stephanie.jpg" class="img-fluid" title="Stephanie Domas, PE, CEH">
        </div>


        <div class="col-sm-6" style="margin-bottom: 10px;">
          <img src="https://medicalsecurity101.org/uploads/Nordenberg_Dale.jpg" class="img-fluid" title="Dale Nordenberg, MD">
        </div>


        <div class="col-sm-6" style="margin-bottom: 10px;">
          <img src="https://medicalsecurity101.org/uploads/fookune_headshot3.jpg" class="img-fluid" title="Denis Foo Kune, Ph.D.">
        </div>


        <div class="col-sm-6" style="margin-bottom: 10px;">
          <img src="https://medicalsecurity101.org/uploads/Wu_Fubin.jpg" class="img-fluid" title="Fubin Wu">
        </div>

    </div>



</div>
<div class="col-sm-8">

    <h5 class="Schedule-presentation-title">
      Meet the Experts Lunch
    </h5>



        <ul>
  <li>Julio Auto, Principal Information Security Engineer, Mayo Clinic</li>
  <li>Andrew (Drew) Bomett, M.S.S.T, CISSP, Principal Security Analyst, Mayo Clinic</li>
  <li>Debra Bruemmer, CISSP, Manager, Clinical Information Security, Mayo Clinic Office of Information Security</li>
  <li>Stephanie Domas, PE, CEH, Lead Medical Security Engineer, Battelle DeviceSecure Services</li>
  <li>Dale Nordenberg, MD, Executive Director, Medical Device Innovation, Safety, and Security Consortium (MDISS)</li>
  <li>Denis Foo Kune, Ph.D, Co-Founder, Virta Laboratories, Inc.</li>
  <li>Fubin Wu, Co-Founder, GessNet™</li>
</ul>

<p>Join leaders from Mayo Clinic, the FDA, Medtronic, the University of Michigan, and AAMI’s Device Security Working Group for a first-come, first-served seat at the table with conference leaders, speakers, and invited experts. This is your chance to get your most pressing questions answered all while enjoying a delicious lunch.</p>




</div>



            </div>
          <hr>
        </div>
      </div>



      <div class="row">
        <div class="col-sm-12 Schedule-block
          ">
            <div class="row">

              <div class="col-sm-2">
                1:30 - 3:00 pm
              </div>



<div class="col-sm-2">



    <div class="row">


        <div class="col-sm-6" style="margin-bottom: 10px;">
          <img src="https://medicalsecurity101.org/uploads/Worzala_Chantal.jpg" class="img-fluid" title="Dr. Chantal Worzala, Ph.D, M.P.A">
        </div>


        <div class="col-sm-6" style="margin-bottom: 10px;">
          <img src="https://medicalsecurity101.org/uploads/Peters_Iliana.jpg" class="img-fluid" title="Iliana Peters">
        </div>


        <div class="col-sm-6" style="margin-bottom: 10px;">
          <img src="https://medicalsecurity101.org/uploads/JarvisRodgersHeadshot_2016.jpg" class="img-fluid" title="Jarvis Rodgers">
        </div>

    </div>



</div>
<div class="col-sm-8">

    <h5 class="Schedule-presentation-title">
      Cybersecurity Policy for Medical Devices Panel Discussion
    </h5>



        <ul>
  <li>Chantal Worzala, Director of Policy, American Hospital Association</li>
  <li>Iliana Peters, Senior Advisor, HIPAA Compliance and Enforcement, HHS Office for Civil Rights</li>
  <li>Jarvis Rodgers, IT Audit Director, U.S. Department of Health and Human Services (HHS), Office of Inspector General (OIG</li>
</ul>

<p>Panelists provide insights and commentary on federal policies for medical device cybersecurity in this spirited conversation moderated by Dr. Kevin Fu.</p>




</div>



            </div>
          <hr>
        </div>
      </div>



      <div class="row">
        <div class="col-sm-12 Schedule-block

             Schedule-block--break
          ">
            <div class="row">

              <div class="col-sm-2">
                3:00 - 3:30 pm
              </div>



<div class="col-sm-2">

    <img src="" class="img-fluid" title="">





</div>
<div class="col-sm-8">

    <h5 class="Schedule-presentation-title Schedule-presentation-title--break">
      Coffee Break
    </h5>


</div>



            </div>
          <hr>
        </div>
      </div>



      <div class="row">
        <div class="col-sm-12 Schedule-block
          ">
            <div class="row">

              <div class="col-sm-2">
                3:30 - 4:30 pm
              </div>



<div class="col-sm-2">

    <img src="https://medicalsecurity101.org/uploads/Rios_Billy.jpg" class="img-fluid" title="Billy Rios, CISSP">





</div>
<div class="col-sm-8">

    <h5 class="Schedule-presentation-title">
      Patient Harm? Analyzing Cyber Security Vulnerabilities for Patient Safety Issues
    </h5>

      <h6>
        Billy Rios, CISSP
      </h6>



        <p>CVE, CCE, CPE, NVD, CVSS, CWE… What is this alphabet soup and can we use this information to help us determine whether a particular vulnerability presents a patient safety issue? This talk provides case studies involving specific medical device vulnerabilities and covers strategies to determine whether those vulnerabilities present patient safety issues. We’ll explore the problem from the perspective of both the manufacturer and healthcare delivery organizations.</p>




</div>



            </div>
          <hr>
        </div>
      </div>



      <div class="row">
        <div class="col-sm-12 Schedule-block
          ">
            <div class="row">

              <div class="col-sm-2">
                6:15 - 8:30 pm
              </div>



<div class="col-sm-2">






    <a href="http://www.synopsys.com/home.aspx">
      <img src="https://medicalsecurity101.org/uploads/synopsys_logo.jpg" class="img-fluid" title="Synopsys">
    </a>

</div>
<div class="col-sm-8">

    <h5 class="Schedule-presentation-title">
      Gala Dinner
    </h5>



        <p><strong>Sponsored by <a href="http://www.synopsys.com/home.aspx">Synopsys</a></strong></p>

<p>Step back in time and join conference speakers and fellow attendees for a relaxing dinner at Epcot’s American Adventure Rotunda, where American history comes alive. We’ll meet at 6:15 at the conference center in the Grand Harbor Lobby and board buses that will take us to Epcot Center for the evening activities.</p>




</div>



            </div>
          <hr>
        </div>
      </div>



      <div class="row">
        <div class="col-sm-12 Schedule-block
          ">
            <div class="row">

              <div class="col-sm-2">
                8:30 - 9:30 pm
              </div>



<div class="col-sm-2">






    <a href="https://www.siemens.com/">
      <img src="https://medicalsecurity101.org/uploads/siemens_logo_cmyk.jpg" class="img-fluid" title="Siemens">
    </a>

</div>
<div class="col-sm-8">

    <h5 class="Schedule-presentation-title">
      Dessert  &amp; Illuminations
    </h5>



        <p><strong>Sponsored by <a href="https://www.siemens.com/us/en/home.html">Siemens</a></strong></p>

<p>End the night on a sweet note with a buffet of delightful confections and delicious wines from around the world at Epcot’s Italy Isola as you enjoy an unparalleled view of Epcot’s <a href="https://disneyworld.disney.go.com/entertainment/epcot/illuminations-reflections-of-earth/">Illuminations: Reflections of Earth</a> fireworks extravaganza. You’ve never seen or tasted anything like it!</p>




</div>



            </div>
          <hr>
        </div>
      </div>



        <div class="row">
          <div class="col-sm-12">
            <hr class="Schedule-divider">
          </div>
        </div>



    <div class="row">
      <header class="col-sm-12 Day">
        <div class="row">
          <div class="col-xs-4">
            <h3 class="Day-date">
              17 Jan 2017
            </h3>
          </div>
          <div class="col-xs-8">
            <h3 class="Day-title">Tuesday - Dual Track Sessions</h3>
          </div>
          <div class="col-sm-12">
            <hr>
          </div>
        </div>
      </header>
    </div>




      <div class="row">
        <div class="col-sm-12 Schedule-block

             Schedule-block--break
          ">
            <div class="row">

              <div class="col-sm-2">
                8:00 - 9:00 am
              </div>



<div class="col-sm-2">

    <img src="" class="img-fluid" title="">





</div>
<div class="col-sm-8">

    <h5 class="Schedule-presentation-title Schedule-presentation-title--break">
      Breakfast
    </h5>


</div>



            </div>
          <hr>
        </div>
      </div>


        <div class="row">
          <div class="col-sm-6 Presentation-track">
            <h5>
              Health Delivery Organizations
            </h5>
            <small>Asbury Hall: A &amp; B</small>
          </div>
          <div class="col-sm-6 Presentation-track">
            <h5>Manufacturers</h5>
            <small>Asbury Hall: C &amp; D</small>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <hr>
          </div>
        </div>


      <div class="row">
        <div class="col-sm-12 Schedule-block
          ">
            <div class="row">

                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-sm-6">

                        <div class="row">
  <div class="col-sm-12">
    <div class="Presentation-time">
      9:00 am - 10:30 am
    </div>
  </div>
</div>

                        <div class="row">



<div class="col-sm-2">

    <img src="https://medicalsecurity101.org/uploads/Fu_Kevin_Headshot.jpg" class="img-fluid" title="Kevin Fu, Ph.D">





</div>
<div class="col-sm-10">

    <h5 class="Schedule-presentation-title">
      Introduction to Medical Device Security
    </h5>

      <h6>
        Kevin Fu, Ph.D
      </h6>



        <p><a href="#introduction-to-medical-device-security" data-toggle="modal">Read abstract</a></p>
        <div class="Schedule-presentation-content hidden-xs-up">
          <p>Today, it would be difficult to find medical device technology that does not critically depend on computer software. Network connectivity and wireless communication has transformed the delivery of patient care. The technology often enables patients to lead more normal and healthy lives. However, medical devices that rely on software (e.g., drug infusion pumps, linear accelerators, pacemakers) also inherit the pesky cybersecurity risks endemic to computing. What’s special about medical devices and cybersecurity? What’s hype and what’s real? What can history teach us? How are international standards bodies and regulatory cybersecurity requirements changing the global manufacture of medical devices? This talk will introduce attendees to the risks, benefits, and regulatory issues for medical device cybersecurity and innovation of trustworthy medical device software.</p>

        </div>
        <div class="modal fade" id="introduction-to-medical-device-security" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                  Introduction to Medical Device Security
                </h4>
              </div>
              <div class="modal-body">
                <dl>
                  <dt>Time</dt>
                  <dd>9:00 am - 10:30 am</dd>
                  <dt>Speaker</dt>
                  <dd>Kevin Fu, Ph.D</dd>
                  <dt>Location</dt>
                  <dd>Health Delivery Organizations - Asbury Hall: A &amp; B</dd>
                </dl>
                <p>Today, it would be difficult to find medical device technology that does not critically depend on computer software. Network connectivity and wireless communication has transformed the delivery of patient care. The technology often enables patients to lead more normal and healthy lives. However, medical devices that rely on software (e.g., drug infusion pumps, linear accelerators, pacemakers) also inherit the pesky cybersecurity risks endemic to computing. What’s special about medical devices and cybersecurity? What’s hype and what’s real? What can history teach us? How are international standards bodies and regulatory cybersecurity requirements changing the global manufacture of medical devices? This talk will introduce attendees to the risks, benefits, and regulatory issues for medical device cybersecurity and innovation of trustworthy medical device software.</p>

              </div>
            </div>
          </div>
        </div>



</div>


                        </div>


                    </div>
                    <div class="col-sm-6">

                        <div class="row">
  <div class="col-sm-12">
    <div class="Presentation-time">
      9:00 am - 9:45 am
    </div>
  </div>
</div>

                        <div class="row">



<div class="col-sm-2">

    <img src="https://medicalsecurity101.org/uploads/Aerts_Bill.jpg" class="img-fluid" title="Bill Aerts, CISSP, CISM">





</div>
<div class="col-sm-10">

    <h5 class="Schedule-presentation-title">
      How to Set up a Medical Device Security Program for Manufacturers
    </h5>

      <h6>
        Bill Aerts, CISSP, CISM
      </h6>



        <p><a href="#how-to-set-up-a-medical-device-security-program-for-manufacturers" data-toggle="modal">Read abstract</a></p>
        <div class="Schedule-presentation-content hidden-xs-up">
          <p>With the future of the Internet of Things, medical devices will become infinitely connected. For those providing and using those devices, security will become a huge challenge. In order to address these challenges, manufacturers and healthcare providers need to create a dedicated program to monitor and maintain medical device security throughout a device’s lifecycle. This session will discuss these challenges and provide insight on how to build a strong medical device security program.</p>

        </div>
        <div class="modal fade" id="how-to-set-up-a-medical-device-security-program-for-manufacturers" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                  How to Set up a Medical Device Security Program for Manufacturers
                </h4>
              </div>
              <div class="modal-body">
                <dl>
                  <dt>Time</dt>
                  <dd>9:00 am - 9:45 am</dd>
                  <dt>Speaker</dt>
                  <dd>Bill Aerts, CISSP, CISM</dd>
                  <dt>Location</dt>
                  <dd>Manufacturers - Asbury Hall: C &amp; D</dd>
                </dl>
                <p>With the future of the Internet of Things, medical devices will become infinitely connected. For those providing and using those devices, security will become a huge challenge. In order to address these challenges, manufacturers and healthcare providers need to create a dedicated program to monitor and maintain medical device security throughout a device’s lifecycle. This session will discuss these challenges and provide insight on how to build a strong medical device security program.</p>

              </div>
            </div>
          </div>
        </div>



</div>


                        </div>

                          <div class="row">
                            <div class="col-sm-12">
                              <hr>
                            </div>
                          </div>


                        <div class="row">
  <div class="col-sm-12">
    <div class="Presentation-time">
      9:45 am - 10:30 am
    </div>
  </div>
</div>

                        <div class="row">



<div class="col-sm-2">

    <img src="https://medicalsecurity101.org/uploads/Ender_Bill.jpg" class="img-fluid" title="Bill Ender">





</div>
<div class="col-sm-10">

    <h5 class="Schedule-presentation-title">
      Security as a Revenue Accelerator
    </h5>

      <h6>
        Bill Ender
      </h6>



        <p><a href="#security-as-a-revenue-accelerator" data-toggle="modal">Read abstract</a></p>
        <div class="Schedule-presentation-content hidden-xs-up">
          <p>Security does not have to cripple productivity or create financial stress. Security professionals across all industries have struggled for years to demonstrate return on investment (ROI) in support of their budgets. It doesn’t work. And if security is improperly positioned—e.g., under IT—the budgeting struggle is a no-win proposition. In this entertaining and informative session, a former medical device manufacturer CISO will explain why sales, marketing, customer service, legal, audit, and the board of directors are the best partners for security and how to secure a seat at the table with other critical business functions. We will also explore a security investment model that is lean, progressive, adaptable to companies of any size/maturity level, and can demonstrate direct, positive impact on revenue.</p>

        </div>
        <div class="modal fade" id="security-as-a-revenue-accelerator" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                  Security as a Revenue Accelerator
                </h4>
              </div>
              <div class="modal-body">
                <dl>
                  <dt>Time</dt>
                  <dd>9:45 am - 10:30 am</dd>
                  <dt>Speaker</dt>
                  <dd>Bill Ender</dd>
                  <dt>Location</dt>
                  <dd>Manufacturers - Asbury Hall: C &amp; D</dd>
                </dl>
                <p>Security does not have to cripple productivity or create financial stress. Security professionals across all industries have struggled for years to demonstrate return on investment (ROI) in support of their budgets. It doesn’t work. And if security is improperly positioned—e.g., under IT—the budgeting struggle is a no-win proposition. In this entertaining and informative session, a former medical device manufacturer CISO will explain why sales, marketing, customer service, legal, audit, and the board of directors are the best partners for security and how to secure a seat at the table with other critical business functions. We will also explore a security investment model that is lean, progressive, adaptable to companies of any size/maturity level, and can demonstrate direct, positive impact on revenue.</p>

              </div>
            </div>
          </div>
        </div>



</div>


                        </div>


                    </div>
                  </div>
                </div>

            </div>
          <hr>
        </div>
      </div>



      <div class="row">
        <div class="col-sm-12 Schedule-block

             Schedule-block--break
          ">
            <div class="row">

              <div class="col-sm-2">
                10:30 am - 11:00 am
              </div>



<div class="col-sm-2">

    <img src="" class="img-fluid" title="">





</div>
<div class="col-sm-8">

    <h5 class="Schedule-presentation-title Schedule-presentation-title--break">
      Coffee Break
    </h5>


</div>



            </div>
          <hr>
        </div>
      </div>


        <div class="row">
          <div class="col-sm-6 Presentation-track">
            <h5>
              Health Delivery Organizations
            </h5>
            <small>Asbury Hall: A &amp; B</small>
          </div>
          <div class="col-sm-6 Presentation-track">
            <h5>Manufacturers</h5>
            <small>Asbury Hall: C &amp; D</small>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <hr>
          </div>
        </div>


      <div class="row">
        <div class="col-sm-12 Schedule-block
          ">
            <div class="row">

                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-sm-6">

                        <div class="row">
  <div class="col-sm-12">
    <div class="Presentation-time">
      11:00 am - 11:45 pm
    </div>
  </div>
</div>

                        <div class="row">



<div class="col-sm-2">

    <img src="https://medicalsecurity101.org/uploads/McDonald_Kevin%20headshot.jpg" class="img-fluid" title="Kevin McDonald, BSN, ME-PD, CISSP">





</div>
<div class="col-sm-10">

    <h5 class="Schedule-presentation-title">
      How to Set Up a Medical Device Security Program for Health Delivery Organizations
    </h5>

      <h6>
        Kevin McDonald, BSN, ME-PD, CISSP
      </h6>



        <p><a href="#how-to-set-up-a-medical-device-security-program-for-health-delivery-organizations" data-toggle="modal">Read abstract</a></p>
        <div class="Schedule-presentation-content hidden-xs-up">
          <p>Health delivery organizations can benefit significantly from a solid medical device security program. With a security program in place, you can identify vulnerable devices, assess risks, and plan remediations. But for your medical device security program to be effective, you must have a strong base in place in the areas of governance, policies, standards, process, and staff skills. In this session, members of health delivery organizations will learn how to set up the foundational structure and processes necessary for creating a strong medical device security program.</p>

        </div>
        <div class="modal fade" id="how-to-set-up-a-medical-device-security-program-for-health-delivery-organizations" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                  How to Set Up a Medical Device Security Program for Health Delivery Organizations
                </h4>
              </div>
              <div class="modal-body">
                <dl>
                  <dt>Time</dt>
                  <dd>11:00 am - 11:45 pm</dd>
                  <dt>Speaker</dt>
                  <dd>Kevin McDonald, BSN, ME-PD, CISSP</dd>
                  <dt>Location</dt>
                  <dd>Health Delivery Organizations - Asbury Hall: A &amp; B</dd>
                </dl>
                <p>Health delivery organizations can benefit significantly from a solid medical device security program. With a security program in place, you can identify vulnerable devices, assess risks, and plan remediations. But for your medical device security program to be effective, you must have a strong base in place in the areas of governance, policies, standards, process, and staff skills. In this session, members of health delivery organizations will learn how to set up the foundational structure and processes necessary for creating a strong medical device security program.</p>

              </div>
            </div>
          </div>
        </div>



</div>


                        </div>

                          <div class="row">
                            <div class="col-sm-12">
                              <hr>
                            </div>
                          </div>


                        <div class="row">
  <div class="col-sm-12">
    <div class="Presentation-time">
      11:45 am - 12:30 pm
    </div>
  </div>
</div>

                        <div class="row">



<div class="col-sm-2">

    <img src="https://medicalsecurity101.org/uploads/Joshua_Corman_sm.jpg" class="img-fluid" title="Joshua Corman">





</div>
<div class="col-sm-10">

    <h5 class="Schedule-presentation-title">
      Safer, Sooner, Together: A Hippocratic Oath for Connected Medical Devices
    </h5>

      <h6>
        Joshua Corman
      </h6>



        <p><a href="#safer-sooner-together-a-hippocratic-oath-for-connected-medical-devices" data-toggle="modal">Read abstract</a></p>
        <div class="Schedule-presentation-content hidden-xs-up">
          <p>The promise of connected medicine is to improve and prolong life.</p>

<p>The perils of connectivity may lead to loss of life and limb and a shattering of public confidence.</p>

<p>Our dependence on connected technologies has grown faster than our ability to secure them.</p>

<p>We believe we can be safer, sooner, if we work together.</p>

<p>Modern healthcare increasingly depends on connected technologies to improve the quality, effectiveness, and availability of the best that medical innovations can offer. The promise of Precision Medicine may unlock new cures and breakthroughs to help us treat and conquer some of our most perplexing diseases. Unfortunately, with this promise comes the perils of hyper-connectivity, exposing us all to a bevy of new accidents and adversaries in cyberspace. Sadly, we are not prepared.</p>

<p>While the FDA and industry have made incredible strides over the last two years in cybersafety, 2016 continues to remind us just how much further we have to go. In 2015, an epidemic of ransomware ran havoc through health delivery organizations. In one case, Hollywood Presbyterian was hit so badly it affected patient care and the hospital had to turn ambulances away. Muddy Waters Capital shorted St. Jude’s Medical over what it considered to be material hacking weaknesses in its line of pacemakers.</p>

<p>All systems fail. How prepared we are for failure will make all the difference. To this end, “I am The Cavalry” published a Hippocratic Oath for Connected Medical Devices exploring how to avoid failure, take help avoiding failure, learn from failure, mitigate failure, and inoculate against future failure. We will explore this framework and these five postures toward failure to accelerate our corrective actions across a diverse and challenging stakeholder ecosystem.</p>

<p>We don’t yet have all the answers, but we know we’ll all be <strong>safer, sooner, together</strong>.</p>

        </div>
        <div class="modal fade" id="safer-sooner-together-a-hippocratic-oath-for-connected-medical-devices" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                  Safer, Sooner, Together: A Hippocratic Oath for Connected Medical Devices
                </h4>
              </div>
              <div class="modal-body">
                <dl>
                  <dt>Time</dt>
                  <dd>11:45 am - 12:30 pm</dd>
                  <dt>Speaker</dt>
                  <dd>Joshua Corman</dd>
                  <dt>Location</dt>
                  <dd>Health Delivery Organizations - Asbury Hall: A &amp; B</dd>
                </dl>
                <p>The promise of connected medicine is to improve and prolong life.</p>

<p>The perils of connectivity may lead to loss of life and limb and a shattering of public confidence.</p>

<p>Our dependence on connected technologies has grown faster than our ability to secure them.</p>

<p>We believe we can be safer, sooner, if we work together.</p>

<p>Modern healthcare increasingly depends on connected technologies to improve the quality, effectiveness, and availability of the best that medical innovations can offer. The promise of Precision Medicine may unlock new cures and breakthroughs to help us treat and conquer some of our most perplexing diseases. Unfortunately, with this promise comes the perils of hyper-connectivity, exposing us all to a bevy of new accidents and adversaries in cyberspace. Sadly, we are not prepared.</p>

<p>While the FDA and industry have made incredible strides over the last two years in cybersafety, 2016 continues to remind us just how much further we have to go. In 2015, an epidemic of ransomware ran havoc through health delivery organizations. In one case, Hollywood Presbyterian was hit so badly it affected patient care and the hospital had to turn ambulances away. Muddy Waters Capital shorted St. Jude’s Medical over what it considered to be material hacking weaknesses in its line of pacemakers.</p>

<p>All systems fail. How prepared we are for failure will make all the difference. To this end, “I am The Cavalry” published a Hippocratic Oath for Connected Medical Devices exploring how to avoid failure, take help avoiding failure, learn from failure, mitigate failure, and inoculate against future failure. We will explore this framework and these five postures toward failure to accelerate our corrective actions across a diverse and challenging stakeholder ecosystem.</p>

<p>We don’t yet have all the answers, but we know we’ll all be <strong>safer, sooner, together</strong>.</p>

              </div>
            </div>
          </div>
        </div>



</div>


                        </div>


                    </div>
                    <div class="col-sm-6">

                        <div class="row">
  <div class="col-sm-12">
    <div class="Presentation-time">
      11:00 am - 12:30 pm
    </div>
  </div>
</div>

                        <div class="row">



<div class="col-sm-2">

    <img src="https://medicalsecurity101.org/uploads/Fu_Kevin_Headshot.jpg" class="img-fluid" title="Kevin Fu, Ph.D">





</div>
<div class="col-sm-10">

    <h5 class="Schedule-presentation-title">
      Introduction to Medical Device Security
    </h5>

      <h6>
        Kevin Fu, Ph.D
      </h6>



        <p><a href="#introduction-to-medical-device-security" data-toggle="modal">Read abstract</a></p>
        <div class="Schedule-presentation-content hidden-xs-up">
          <p>Today, it would be difficult to find medical device technology that does not critically depend on computer software. Network connectivity and wireless communication has transformed the delivery of patient care. The technology often enables patients to lead more normal and healthy lives. However, medical devices that rely on software (e.g., drug infusion pumps, linear accelerators, pacemakers) also inherit the pesky cybersecurity risks endemic to computing. What’s special about medical devices and cybersecurity? What’s hype and what’s real? What can history teach us? How are international standards bodies and regulatory cybersecurity requirements changing the global manufacture of medical devices? This talk will introduce attendees to the risks, benefits, and regulatory issues for medical device cybersecurity and innovation of trustworthy medical device software.</p>

        </div>
        <div class="modal fade" id="introduction-to-medical-device-security" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                  Introduction to Medical Device Security
                </h4>
              </div>
              <div class="modal-body">
                <dl>
                  <dt>Time</dt>
                  <dd>11:00 am - 12:30 pm</dd>
                  <dt>Speaker</dt>
                  <dd>Kevin Fu, Ph.D</dd>
                  <dt>Location</dt>
                  <dd>Manufacturers - Asbury Hall: C &amp; D</dd>
                </dl>
                <p>Today, it would be difficult to find medical device technology that does not critically depend on computer software. Network connectivity and wireless communication has transformed the delivery of patient care. The technology often enables patients to lead more normal and healthy lives. However, medical devices that rely on software (e.g., drug infusion pumps, linear accelerators, pacemakers) also inherit the pesky cybersecurity risks endemic to computing. What’s special about medical devices and cybersecurity? What’s hype and what’s real? What can history teach us? How are international standards bodies and regulatory cybersecurity requirements changing the global manufacture of medical devices? This talk will introduce attendees to the risks, benefits, and regulatory issues for medical device cybersecurity and innovation of trustworthy medical device software.</p>

              </div>
            </div>
          </div>
        </div>



</div>


                        </div>


                    </div>
                  </div>
                </div>

            </div>
          <hr>
        </div>
      </div>



      <div class="row">
        <div class="col-sm-12 Schedule-block

             Schedule-block--break
          ">
            <div class="row">

              <div class="col-sm-2">
                12:30 pm - 2:00 pm
              </div>



<div class="col-sm-2">

    <img src="" class="img-fluid" title="">





</div>
<div class="col-sm-8">

    <h5 class="Schedule-presentation-title Schedule-presentation-title--break">
      Lunch
    </h5>


</div>



            </div>
          <hr>
        </div>
      </div>


        <div class="row">
          <div class="col-sm-6 Presentation-track">
            <h5>
              Health Delivery Organizations
            </h5>
            <small>Asbury Hall: A &amp; B</small>
          </div>
          <div class="col-sm-6 Presentation-track">
            <h5>Manufacturers</h5>
            <small>Asbury Hall: C &amp; D</small>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <hr>
          </div>
        </div>


      <div class="row">
        <div class="col-sm-12 Schedule-block
          ">
            <div class="row">

                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-sm-6">

                        <div class="row">
  <div class="col-sm-12">
    <div class="Presentation-time">
      2:00 pm - 3:00 pm
    </div>
  </div>
</div>

                        <div class="row">



<div class="col-sm-2">

    <img src="https://medicalsecurity101.org/uploads/Kufahl_Jack.jpg" class="img-fluid" title="Jack Kufahl">





</div>
<div class="col-sm-10">

    <h5 class="Schedule-presentation-title">
      Building security programs in the academic medical center and not destroying it in the process
    </h5>

      <h6>
        Jack Kufahl
      </h6>



        <p><a href="#building-security-programs-in-the-academic-medical-center-and-not-destroying-it-in-the-process" data-toggle="modal">Read abstract</a></p>
        <div class="Schedule-presentation-content hidden-xs-up">
          <p>Academic medical centers are one of the most complex organizations that combine the promise and challenges of the research, patient care, training and education missions all within the context of the greater university. We are expected to be equally as open as we are private at the epicenter of two of the most targeted industries in the nation, healthcare and higher education.</p>

<p>The University of Michigan Health System has been strategically  investing in an assurance program that looks to leverage the unique nature of the opportunities we have at our disposal while keeping the day-to-day operations protected in an ever increasingly dynamic environment.</p>

<p>Perhaps apart from some of our healthcare delivery organization counterparts, we must account for our relative programmatic immaturity while sleuthing out those rare but critical leapfrogging moments when we can move beyond the expected median and have information assurance inclusive of the overall information service delivery.</p>

        </div>
        <div class="modal fade" id="building-security-programs-in-the-academic-medical-center-and-not-destroying-it-in-the-process" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                  Building security programs in the academic medical center and not destroying it in the process
                </h4>
              </div>
              <div class="modal-body">
                <dl>
                  <dt>Time</dt>
                  <dd>2:00 pm - 3:00 pm</dd>
                  <dt>Speaker</dt>
                  <dd>Jack Kufahl</dd>
                  <dt>Location</dt>
                  <dd>Health Delivery Organizations - Asbury Hall: A &amp; B</dd>
                </dl>
                <p>Academic medical centers are one of the most complex organizations that combine the promise and challenges of the research, patient care, training and education missions all within the context of the greater university. We are expected to be equally as open as we are private at the epicenter of two of the most targeted industries in the nation, healthcare and higher education.</p>

<p>The University of Michigan Health System has been strategically  investing in an assurance program that looks to leverage the unique nature of the opportunities we have at our disposal while keeping the day-to-day operations protected in an ever increasingly dynamic environment.</p>

<p>Perhaps apart from some of our healthcare delivery organization counterparts, we must account for our relative programmatic immaturity while sleuthing out those rare but critical leapfrogging moments when we can move beyond the expected median and have information assurance inclusive of the overall information service delivery.</p>

              </div>
            </div>
          </div>
        </div>



</div>


                        </div>


                    </div>
                    <div class="col-sm-6">

                        <div class="row">
  <div class="col-sm-12">
    <div class="Presentation-time">
      2:00 pm - 3:00 pm
    </div>
  </div>
</div>

                        <div class="row">



<div class="col-sm-2">

    <img src="https://medicalsecurity101.org/uploads/McNeil_Michael_JPEG.jpg" class="img-fluid" title="Michael McNeil, MBA">





</div>
<div class="col-sm-10">

    <h5 class="Schedule-presentation-title">
      The Why and How of Medical Device Security – a Manufacturers Perspective
    </h5>

      <h6>
        Michael McNeil, MBA
      </h6>



        <p><a href="#the-why-and-how-of-medical-device-security-a-manufacturers-perspective" data-toggle="modal">Read abstract</a></p>
        <div class="Schedule-presentation-content hidden-xs-up">
          <p>During this discussion, we will review some of the key do’s and don’ts associated with the deployment of a product security program executed by a medical device manufacturer. We will look into the key relationships of the ecosystem and their management to ensure an optimal program is executed. The session will cover the following:</p>

<ul>
  <li>Product security risk assessment</li>
  <li>What steps and measures determine appropriate testing</li>
  <li>How to implement an effective Coordinated Responsible Disclosure process</li>
  <li>When to consider deploying a Secure Build of Material (SBOM) process</li>
</ul>

        </div>
        <div class="modal fade" id="the-why-and-how-of-medical-device-security-a-manufacturers-perspective" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                  The Why and How of Medical Device Security – a Manufacturers Perspective
                </h4>
              </div>
              <div class="modal-body">
                <dl>
                  <dt>Time</dt>
                  <dd>2:00 pm - 3:00 pm</dd>
                  <dt>Speaker</dt>
                  <dd>Michael McNeil, MBA</dd>
                  <dt>Location</dt>
                  <dd>Manufacturers - Asbury Hall: C &amp; D</dd>
                </dl>
                <p>During this discussion, we will review some of the key do’s and don’ts associated with the deployment of a product security program executed by a medical device manufacturer. We will look into the key relationships of the ecosystem and their management to ensure an optimal program is executed. The session will cover the following:</p>

<ul>
  <li>Product security risk assessment</li>
  <li>What steps and measures determine appropriate testing</li>
  <li>How to implement an effective Coordinated Responsible Disclosure process</li>
  <li>When to consider deploying a Secure Build of Material (SBOM) process</li>
</ul>

              </div>
            </div>
          </div>
        </div>



</div>


                        </div>


                    </div>
                  </div>
                </div>

            </div>
          <hr>
        </div>
      </div>



      <div class="row">
        <div class="col-sm-12 Schedule-block

             Schedule-block--break
          ">
            <div class="row">

              <div class="col-sm-2">
                3:00 pm - 3:30 pm
              </div>



<div class="col-sm-2">

    <img src="" class="img-fluid" title="">





</div>
<div class="col-sm-8">

    <h5 class="Schedule-presentation-title Schedule-presentation-title--break">
      Coffee Break
    </h5>


</div>



            </div>
          <hr>
        </div>
      </div>



      <div class="row">
        <div class="col-sm-12 Schedule-block
          ">
            <div class="row">

              <div class="col-sm-2">
                3:30 - 4:00 pm
              </div>



<div class="col-sm-2">





</div>
<div class="col-sm-8">

    <h5 class="Schedule-presentation-title">
      Closing Remarks
    </h5>








</div>



            </div>
          <hr>
        </div>
      </div>





