<aside class="col-md-4">
  <div class="Callout">
    <form class="form-inline">
      <div class="form-group">
        <label class="sr-only" for="site-search">Search Website</label>
        <input type="text" class="form-control" id="site-search"
        placeholder="Search Website">
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
  </div>
  <div class="Callout">
    <h6>Follow Us</h6>
    <p><strong>Follow Archimedes</strong> on social media to keep up-to-date with the latest
    news.</p>
    <div style="overflow:hidden">
    {% include social.html %}
    </div>
  </div>
  <div class="Callout">
    <h6>The Med Sec Monthly Sign Up</h6>
    {% include newsletter.html %}
  </div>
  <div class="Categories">
    <h6>Categories</h6>
    <div>
      {% for i in (1..10) %}
        <span class="tag tag-pill tag-default">Category {{i}}</span>
      {% endfor %}
    </div>
  </div>
  <div class="ArticlesSidebar">
    <h6>Most Viewed</h6>

    {% for i in (1..5) %}
    <div class="media">
      <a class="media-left" href="#">
        <img class="media-object" src="http://placehold.it/60" alt="Generic placeholder image">
      </a>
      <div class="media-body">
        <h4 class="media-heading ArticlesSidebar-title">
          <a href="#">
            Blog Post Title
          </a>
        </h4>
        Cras sit amet nibh libero, in gravida nulla.
      </div>
    </div>
    {% endfor %}
  </div>
</aside>

