<ul class="list-inline Header-social-links">
  <li class="list-inline-item">
    <a href="https://twitter.com/{{site.twitter_username}}" class="ss-icon">
      twitter
    </a>
  </li>
  <li class="list-inline-item">
    <a href="mailto:{{site.email}}" class="ss-icon">
      mail
    </a>
  </li>
  <li class="list-inline-item">
    <a href="{{site.linkedin_username}}" class="ss-icon">
      linkedin
    </a>
  </li>
  <li class="list-inline-item">
    <a href="{{site.youtube_channel}}" class="ss-icon">
      youtube
    </a>
  </li>
</ul>
