<ul class="list-inline Header-social-links">
  {% for social in include.social %}
    {% if social.twitter_username %}
    <li class="list-inline-item">
      <a href="https://twitter.com/{{social.twitter_username}}" class="ss-icon">
        twitter
      </a>
    </li>
    {% endif %}
    {% if social.email %}
    <li class="list-inline-item">
      <a href="mailto:{{social.email}}" class="ss-icon">
        mail
      </a>
    </li>
    {% endif %}
    {% if social.linkedin_username %}
    <li class="list-inline-item">
      <a href="{{social.linkedin_username}}" class="ss-icon">
        linkedin
      </a>
    </li>
    {% endif %}
    {% if social.youtube_channel %}
    <li class="list-inline-item">
      <a href="{{social.youtube_channel}}" class="ss-icon">
        youtube
      </a>
    </li>
    {% endif %}
  {% endfor %}
</ul>
