<div class="Speaker">
  <div class="Speaker-header">
    <div class="Speaker-photo">
      <img src="http://placehold.it/500x500" class="img-fluid">
    </div>
    <div class="Speaker-title">
      <h4>Speaker Name</h4>
      <small>Speaker Credentials</small>
    </div>
    <div class="Speaker-bio">
      <p>
        Amet est omnis minus quidem molestias ea? Provident enim cupiditate
        similique asperiores quaerat voluptatem, veniam deleniti Modi cupiditate
        perferendis nisi id ut Praesentium vitae ipsum doloremque amet
        architecto! Autem sed.
        </p>
    </div>
  </div>
</div>
