.Banner {
  margin-bottom: 20px;
  position: relative;
}

.Banner-img {
}

.Banner-panel {
  padding: 25px;
  position: relative;
  z-index: 9;
  background-color: rgba(white, 0.8);

  @media screen and (min-width: 768px) {
    & {
      position: absolute;
    }
  }

  &.Banner-panel--events {
    right: auto;
    top: auto;

    @media screen and (min-width: 768px) {
      & {
        min-height: 200px;
        bottom: 20px;
        right: 36px;
      }
    }
  }

  &.Banner-panel--page {
    bottom: 0;
  }
}

.Banner-subtitle {
  font-weight: 600;
  text-transform: uppercase;
  color: $brand-primary;
}

.Banner-title {
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;

  &.Banner-title--page {
    font-size: 26px;
    font-weight: 500;
    text-transform: uppercase;
  }
}

.Banner-location-text {
  color: #b3b3b3;
}

.Banner-cta-button {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
