.Excerpt-image {
  margin-bottom: 20px;
}

.Excerpt-rule {
  border: none;
  border-top: 1px solid $light-blue-color;
}

.Categories {
  margin-bottom: 20px;
}

.ArticlesSidebar {
  margin-bottom: 20px;
}

.ArticlesSidebar-title {
  font-size: 16px;
  font-weight: 600;
}
