.Callout {

}

.Callout-title,
.Callout-body {
  background-color: $body-bg;
}

.Callout-title {
  margin-bottom: 1px;
  padding: 8px 20px;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  color: $brand-primary;
}

.Callout-img {
  position: relative;
  margin-top: -1px;
}
