.Event-date {
  padding: 20px;
  background-color: $light-blue-color;

  p {
    font-size: 18px;
    text-transform: uppercase;
  }
}

.Event-tabs {
  margin: 40px 0;
  text-transform: uppercase;
  font-weight: 600;
}

