.Footer {
  padding: {
    top: 60px;
    bottom: 60px;
  };
  color: #fff;
  background-color: $dark-blue-color;

  a {
    color: $brand-secondary-color;
  }
}

.Footer-title {
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
}
