$link-color: #666666;

.Header {
  padding: {
    top: 46px;
    bottom: 26px;
  }

  a {
    text-decoration: none;
    color: $link-color;
    transition: color 0.25s ease-in;

    &:hover {
      color: $brand-primary;
    }
  }
}

.Header-logo {
  $logo-img: '/images/logo.png';
  width: 300px;
  height: 0px !important;
  padding-top: 62px;
  display: inline-block;
  overflow: hidden;
  background: url($logo-img) no-repeat;
  background-size: 300px;
}

.Header-social-links {
  float: right;
  margin-bottom: 6px;

  a {
    font-size: 24px;
  }
}

.Header-nav {
  float: right;
  margin-bottom: 0;
  font-size: 18px;
}

.Header-nav-item {
  margin-left: 20px;

  &:first-child {
    margin-left: 0;
  }

  a.active {
    color: $brand-primary;
  }
}


