$link-color: #666666;
$breakpoint: 768px;

.Header {
  padding: {
    top: 46px;
    bottom: 26px;
  }

  a {
    text-decoration: none;
    color: $link-color;
    transition: color 0.25s ease-in;

    &:hover {
      color: $brand-primary;
    }
  }
}

.Header-logo {
  $logo-img: '/images/logo.png';
  width: 300px;
  height: 0px !important;
  padding-top: 62px;
  display: inline-block;
  overflow: hidden;
  background: url($logo-img) no-repeat;
  background-size: 300px;
}

.Header-social-links {
  margin-bottom: 6px;

  a {
    font-size: 24px;
  }
}

.Header-nav-container {
  position: absolute;
  z-index: 99;
  background-color: white;
  top: 120px;
  padding-bottom: 20px;

  @media screen and (max-width: $breakpoint) {
    width: 100%;
  }

  @media screen and (min-width: $breakpoint) {
    position: relative;
    top: auto;
    padding-bottom: 0;
    background-color: transparent;
  }
}
.Header-nav {
  margin-bottom: 0;
  font-size: 18px;

  @media screen and (min-width: $breakpoint) {
    float: right;
  }
}

.Header-nav-item {
  display: block;

  a {
    display: block;
  }

  @media screen and (min-width: $breakpoint) {
    margin-left: 20px;
    display: inline-block;
  }

  &:first-child {
    margin-left: 0;
  }

  a.active {
    color: $brand-primary;
  }
}
