/**
 * Site header
 */
body {
  -webkit-font-smoothing: antialiased;
}

.btn {
  text-transform: uppercase;
}

.Container {
  margin: 0 auto;
  max-width: 1170px;
  text-align: left;
  background-color: #fff;
}

.Container-content {

}

.Content {
  margin-bottom: 40px;
}

.Callout {
  padding: 20px;
  margin-bottom: 20px;
  background-color: $light-blue-color;

  .hs-form.stacked label {
    color: $text-color !important;
  }

  &.Callout--no-padding {
    padding: 0;
  }
}
