/**
 * Site header
 */
.Container {
  margin: 0 auto;
  max-width: 1170px;
  text-align: left;
  background-color: #fff;
}

.Container-content {

}

.Header {
  padding: {
    top: 26px;
    bottom: 26px;
  }
}

.Header-logo {
  width: 250px;
  height: 66px;
  display: inline-block;
  overflow: hidden;
  background-color: $brand-primary;
}

.Header-nav {
  margin-top: 13px;

  a {
    color: #596283;
  }

  &.nav-pills .nav-link {
    padding: {
      right: 10px;
      left: 10px;
    };
  }
}
