/**
 * Site header
 */
.Container {
  margin: 0 auto;
  max-width: 1170px;
  text-align: left;
  background-color: #fff;
}

.Container-content {

}

.Header {
  padding: {
    top: 26px;
    bottom: 26px;
  }
}

.Header-logo {
  width: 250px;
  height: 0px !important;
  padding-top: 68px;
  display: inline-block;
  overflow: hidden;
  background: url('/images/logo.gif') no-repeat;
}

.Header-nav {
  float: right;
  margin-top: 13px;

  a {
    color: #596283;
  }
}
