.Publications-callout {
  padding: 20px;
  margin-bottom: 20px;
  background-color: $light-blue-color;
}

.Publication {
  margin: 20px 0;
  clear: both;
  border-bottom: 1px solid $grey-color-light;

  div &:last-of-type {
    border-bottom: none;
  }
}

.Publication-title {
  font-size: 18px;
  font-weight: 600;
  color: $grey-color-dark;
}

.Publication-resources-list {
  li:after {
    content: ' | ';
    padding-left: 4px;
  }

  li:last-child:after {
    content: '';
    padding: 0;
  }
}
