h6 {
  font-weight: 600;
  text-transform: uppercase;
  color: $brand-primary;
}

a.ss-icon {
  text-decoration: none;
}

.Newsletter-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
}
