h6 {
  font-weight: 600;
  text-transform: uppercase;
  color: $grey-color-dark;
}

a.ss-icon {
  text-decoration: none;
}

.Newsletter-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
}

.Page-title {
  margin-bottom: 15px;
  padding-bottom: 15px;
  color: $grey-color-dark;
  border-bottom: 1px solid #ccc;
}
