---
layout: default
---

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <div class="Page-title">
        <h2>Column Title</h2>
      </div>
      <p>
        Elit corporis autem expedita officiis omnis Maiores velit labore aliquid quam ad eaque! Nesciunt excepturi maiores placeat in ratione Fugiat maiores beatae corrupti corrupti eligendi. Error maxime vitae libero veniam?
      </p>
    </div>
    <div class="col-sm-6">
      <div class="Page-title">
        <h2>Column Title</h2>
      </div>
        <div class="form-message error" style="display:none"></div>
          <script type="text/javascript">var submitted=false;</script>
          <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted)
          {window.location='http://secure-medicine.org/about/membership?submitted=true';}"></iframe>
          <!-- BEGIN Podio web form -->
        <script src="https://podio.com/webforms/15194192/1018703.js"></script>
        <script type="text/javascript">
          _podioWebForm.render("1018703")
        </script>
        <noscript>
          <a href="https://podio.com/webforms/15194192/1018703" target="_blank">Please fill out the form</a>
        </noscript>
        <!-- END Podio web form -->

    </div>
  </div>
</div>
