---
layout: default
---

<article class="container-fluid About">

  {% for section in page.sections %}
    {% capture is_left %}
      {{ forloop.index0 | modulo: 2 }}
    {% endcapture %}

    <section class="row About-section">
      <header class="col-sm-12 About-title">
        <h6>
          {{section.title}}
        </h6>
      </header>
      {% if is_left contains '0' %}
        <div class="col-md-7">
          {{section.description | markdownify}}
        </div>
        <div class="col-md-5">
          <img src="http://placehold.it/936x600" alt="" class="img-fluid">
        </div>
      {% else %}
        <div class="col-md-5">
          <img src="http://placehold.it/936x600" alt="" class="img-fluid">
        </div>
        <div class="col-md-7">
          {{section.description | markdownify}}
        </div>
      {% endif %}
    </section>
  {% endfor %}

  <section id="team" class="row About-section">
    <header class="col-sm-12 About-title">
      <h6>
        Meet the Team
      </h6>
    </header>

    {% for bio in site.team %}
      <div class="col-sm-4 Team">
        <div class="Team-header">
          <img src="http://placehold.it/460x256" class="img-fluid">
          <div class="Team-title">
            <div>{{bio.title}}</div>
            <div>{{bio.job_title}}</div>
          </div>
        </div>
        {{bio.content | markdownify}}
        {% include social.html social=bio.social %}
      </div>
    {% endfor %}
  </section>

  <section id="members" class="row About-section">
    <header class="col-sm-12 About-title">
      <h6>
        Meet the Members
      </h6>
    </header>
    {% for member in site.members %}
      <div class="col-sm-3">
        <img src="http://placehold.it/460x256" class="img-fluid">
        <h4>{{member.title}}</h4>
        {{member.content | markdownify}}
        <p><a href="{{member.website}}">{{member.website}}</a></p>
      </div>
    {% endfor %}
  </section>
</article>

