---
layout: default
---

<div class="container-fluid About">

  {% include sections.html %}

  <section id="team" class="row About-section">
    <header class="col-sm-12 About-title">
      <h6>
        Meet the Team
      </h6>
    </header>

    <div class="col-sm-12">
      <div class="row">
        {% for bio in site.team %}
          <div class="col-md-6 Team">
            <div class="Team-header">
              <img src="{{bio.team_image}}" class="img-fluid">
              <div class="Team-title">
                <div>{{bio.title}}</div>
                <div>{{bio.job_title}}</div>
              </div>
            </div>
            <div class="Team-content">
              {{bio.content | markdownify}}
              {% if bio.social.size > 0 %}
                {% include social.html social=bio.social %}
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  {% include members.html %}
</div>
