---
layout: default
---

<article class="container-fluid About">

  {% for section in page.sections %}
    {% capture is_left %}
      {{ forloop.index0 | modulo: 2 }}
    {% endcapture %}

    <section class="row About-section">
      <header class="col-sm-12 About-title">
        <h6>
          {{section.title}}
        </h6>
      </header>
      {% if is_left contains '0' %}
        <div class="col-md-7">
          {{section.description | markdownify}}
        </div>
        <div class="col-md-5">
          <img src="http://placehold.it/936x600" alt="" class="img-fluid">
        </div>
      {% else %}
        <div class="col-md-5">
          <img src="http://placehold.it/936x600" alt="" class="img-fluid">
        </div>
        <div class="col-md-7">
          {{section.description | markdownify}}
        </div>
      {% endif %}
    </section>
  {% endfor %}

  <section id="team" class="row About-section">
    <header class="col-sm-12 About-title">
      <h6>
        Meet the Team
      </h6>
    </header>

    <div class="col-sm-12">
      <div class="row">
        {% for bio in site.team %}
          <div class="col-md-6 Team">
            <div class="Team-header">
              <img src="http://placehold.it/1110x600" class="img-fluid">
              <div class="Team-title">
                <div>{{bio.title}}</div>
                <div>{{bio.job_title}}</div>
              </div>
            </div>
            <div class="Team-content">
              {{bio.content | markdownify}}
            </div>
            {% if bio.social.size > 0 %}
              <div class="Team-social-links">
                {% include social.html social=bio.social %}
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section id="members" class="row About-section">
    <header class="col-sm-12 About-title">
      <h6>
        Meet the Members
      </h6>
    </header>
    <div class="col-sm-12">
      <div class="row">
        {% for member in site.members %}
          <div class="col-sm-3 Member">
            <a href="{{member.website}}" class="Member-logo">
              <img src="http://placehold.it/460x256" class="img-fluid">
            </a>
            <h6 class="Member-title">{{member.title}}</h6>
            <div>
              {{member.content | markdownify}}
            </div>
            <p><a href="{{member.website}}">{{member.website}}</a></p>
            {% if member.social.size > 0 %}
              <div class="Member-social-links">
                {% include social.html social=member.social %}
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
</article>

