---
layout: default
---

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        {% for post in site.posts %}
          {% if forloop.first %}
            <div class="col-sm-12">
              {% include excerpt.html post=post %}
              <div class="clearfix"></div>
              <hr class="Excerpt-rule"/>
            </div>
          {% else %}

            {% if forloop.index == 2 or forloop.index == 3 %}
              <div class="col-sm-12 col-lg-6">
                {% include excerpt.html %}
              </div>
            {% else %}
              <div class="col-sm-12">
                <hr class="Excerpt-rule"/>
                {% include excerpt.html hide-image=true %}
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
        {% include pagination.html %}
      </div>
    </div>
    {% include sidebar.html %}
  </div>
</div>
