---
layout: default
---

<article class="container-fluid">

  <header class="row">
    <div class="col-sm-3">
      <div class="Event-date">
        <p>
          {% include event-dates.html event=page %}</br>
          {{page.location}}
        </p>
        {% include
          button.html
          label="Register Now"
          class="helo"
        %}
      </div>
    </div>
    <div class="col-sm-9">
      <h3>
        {{page.content | markdownify}}
      </h3>
    </div>
  </header>

  <div class="row">
    <div class="col-sm-12">
      <div class="Event-tabs">
        <ul id="event-tabs" class="nav nav-pills" role="tablist">
          <li class="nav-item">
            <a class="nav-link active"
                data-toggle="tab"
                href="#speakers"
                role="tab"
                aria-controls="#speakers">
              Speakers & Experts
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
                data-toggle="tab"
                href="#schedule"
                role="tab"
                aria-controls="#schedule">
              Schedule
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
                data-toggle="tab"
                href="#getting-there"
                role="tab"
                aria-controls="#getting-there">
              Getting There
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
                data-toggle="tab"
                href="#speaker-resources"
                role="tab"
                aria-controls="#speaker-resources">
              Speaker Resources
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
                data-toggle="tab"
                href="#sponsors"
                role="tab"
                aria-controls="#sponsors">
              Sponsors
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="tab-content">
        <div id="speakers" class="tab-pane active" role="tabpanel">
          {% include speakers.html %}
        </div>
        <div id="schedule" class="tab-pane" role="tabpanel">
          {% include schedule.html %}
        </div>
        <div id="getting-there" class="tab-pane" role="tabpanel">
          {% include getting-there.html %}
        </div>
        <div id="speaker-resources" class="tab-pane" role="tabpanel">
          {% include resources.html %}
        </div>
        <div id="sponsors" class="tab-pane" role="tabpanel">
          {% include sponsors.html %}
        </div>
      </div>
    </div>
  </div>

</article>
