---
layout: default
---
{% assign sm_events = site.events | sort: 'start_date' | where: 'is_related_conference', false %}
{% assign related_events = site.events | sort: 'start_date' | where: 'is_related_conference', true %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      {% for event in sm_events %}
        {% include event.html event=event %}
      {% endfor %}
      <div class="Events-divider">
        <h6>Related Conferences</h6>
      </div>
      {% for event in related_events %}
        {% include event.html event=event %}
      {% endfor %}
    </div>
    <aside class="col-md-4">
      <h6>Why Attend?</h6>
      {% for quote in page.event_quotes %}
        <div>
          <blockquote class="blockquote">
            <p>
              &quot;{{quote.quote}}&quot;
            </p>
            <footer class="blockquote-footer">
              {{quote.source}}
            </footer>
          </blockquote>
        </div>
      {% endfor %}
    </aside>
  </div>
</div>
