---
layout: default
---

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      {% for event in site.events %}
        <div class="EventsItem">
          <div class="EventsItem-img">
            <a href={{event.url}}>
              <img src="http://placehold.it/500x400" class="img-fluid">
            </a>
          </div>
          <div class="EventsItem-description">
            <div class="EventsItem-dates">
              {% include event-dates.html event=event %}
            </div>
            <h3 class="EventsItem-title">
              <a href="{{event.url}}">
                {{event.title}}
              </a>
            </h3>
            <p class="EventsItem-subtitle">
              {{event.subtitle}}
            </p>
            {% include button.html label="Register!" href="#" %}
          </div>
        </div>
      {% endfor %}
    </div>
    <aside class="col-md-4">
      <h6>Why Attend?</h6>
      {% for quote in page.event_quotes %}
        <div>
          <blockquote class="blockquote">
            <p>
              {{quote.quote}}
            </p>
            <footer class="blockquote-footer">
              {{quote.source}}
            </footer>
          </blockquote>
        </div>
      {% endfor %}
    </aside>
  </div>
</div>
