---
layout: default
---

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      {{content | markdownify}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <h6>Publications</h6>

      {% for i in (1..10) %}
        {% include publication.html %}
      {% endfor %}
      {% include pagination.html %}
    </div>
    <aside class="col-sm-4">
      <div class="Publications-callout">
        <h6>Recent Publications</h6>
        {% for i in (1..2) %}
          {% include publication.html %}
        {% endfor %}
      </div>
      <div class="Publications-callout">
        <h6>Most Viewed Publications</h6>
        {% for i in (1..2) %}
          {% include publication.html %}
        {% endfor %}
      </div>
    </aside>
  </div>
</div>
